body {
    display: block;
    font-family: sans-serif;
    max-width: 1200px;
    margin: auto;

}

/* Font styling */
a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

h1 {
    font-weight: 200;
    font-size: 28px;
}

p {
    font-size: 20px;
}

.item-name {
    text-decoration: underline;
    margin-bottom: -5px;
}

label {
    font-size: 20px;
}

/* nav */
header {
    margin: auto;
    text-align: center;
    border-bottom: 2px;
    border-color: black;
}

#logo {
    padding: 24px 0px 24px 0px;
    text-align: left;
    margin: 40px 40px 20px 40px;
    border-bottom: 5px solid black;
}

.nav {
    margin: 0px auto 20px auto;
    width: fit-content;
}

nav {
    margin-bottom: 80px;
}

/* Home page */
section {
    margin: auto;
    text-align: center;
}

.item {
    width: 240px;
    text-align: left;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 2px;
}

.item-img {
    width: 240px;
    border: 3px solid black;
    margin-bottom: 10px;
}

/* Specific product page */
#specific-product-img {
    border: 3px solid black;
}

#dropdown-description {
    margin-bottom: 60px;
}

.specific-item {
    width: 240px;
    text-align: left;
    margin: auto;
}

/* Dropdown menu styling (Didn't see that we are not required to do this) */
select {
    background-color: #ffffff;
    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 1px;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
}

.dropdown {
    margin-bottom: 40px;
    margin-top: 20px;
}

#add-to-cart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 80px;
}

#button {
    background-color: yellow;
    padding: 8px 32px;
    border: 2px solid black;
    font-size: 16px;
    font-weight: 600;
    margin: auto 0px;
}


/* Cart page */

.cart-item-img {
    width: 100px;
    border:3px solid black;
    margin-bottom: 10px;
}

.cart-price {
    margin-top: 40px;
}

.cart-item {
    line-height: 50%;
    margin-bottom: 60px;
}

#total-checkout {
    border-top: 3px solid black;
    width: 50%;
    margin: auto;
}


/* Hover states */
.item:hover, .nav:hover {
    background-color: yellow;
    font-weight: bold;
  }
    

a.current {
    background:yellow;
    font-weight: bold;
}

